*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
 .navegador{
         background-color: #f8eace;
     width: 100%;
    
    }

.menu{
    display: none;
}

 .navegador ul{
     margin: 0px;
     padding: 0px;
     list-style: none;
}
    .navegador ul{
        display: flex;
        justify-content: end;
        list-style: none;
    }
 .navegador ul li a { 
     color: #030303;
     text-decoration: none;    
     font-size: 17px;  
     margin: 20px;
     padding: 10px 10px;
     align-items: center;
 }
 
 h1{ color: #0a0a0a;
     background-color: #e7d9bc;
     height: 50%;
     padding: 0px;
     margin: 0px;
     text-align: center;
     font-size: 50px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    
    
 .carousel{
    margin-top: 21.25px;
 }

 .carousel-item img{
    width: 100%;
 }
     .tarjetas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
     }

     .tarjeta{
         width: 400px;
         border: solid #f8eace;
         border-radius: 10px;
         padding: 10px;
         margin: 10px;
         color: #0a0a0a;
     }
     .tarjeta img{
 width: 370px;
     }
     .tarjeta h4{
         font-size: 18px;
         margin: 5px;
         padding: 5px;
     }
     .tarjeta h6{
         color: #888787ea;
         margin: 5px;
         padding: 5px;
     }
     .tarjeta button{
         background-color: #020202;
         color: #fff;
         margin: 5px;
         padding: 5px;
         border: none;
         border-radius: 5px;
     }
 .contactos{
    font-size: 20px;
    margin: 30px auto;
    color: #030303;
    padding: 30px;
    background-color: #e7d9bc;
    display: grid;
    row-gap: 10px;
 }
 .contactos .dato{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
 }

.contactos .dato input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #030303;
}
.contactos .mensajebox{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #030303;
}
.contactos button{
    padding: 10px 15px;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

    
 .piedepagina{
    background-color:#e7d9bc;
    color:#0a0a0a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    column-gap: 15px;
    padding: 10px;
    align-items: center;
    justify-items: center;
}

.piedepagina .titulo-principal, .piedepagina .datos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    
}

.piedepagina .datos .mapa{
    border-radius: 8%;
       width: 100%;
       height: 450px;
    }

    .piedepagina .redes i{
        font-size: 38px;
        margin: 10px;
    }

    @media (max-width: 1200px) {
        .piedepagina{
            grid-template-columns: 1fr 1fr;
        }
        .piedepagina .redes{
            grid-column: 1/3;
        }
    }

   
    @media (max-width: 768px) {
        .piedepagina{
            grid-template-columns: 1fr;
        }
        .piedepagina .redes{
            grid-column: auto;
        }
        .contactos{
            width: 768px;
            border-radius: 8px;
        }
    }
    
    @media (max-width: 576px) {
        .navegador .menu {
            display: block;
            color: #020202;
            font-size: 30px;
            margin: 10px;
        }
        .navegador{
            display: block;
        }
        .navegador .menu:hover + ul{
            left: 0px;
        }
        .navegador ul:hover{
            left: 0px;
        }
        .navegador ul{
           
            position: fixed;
            top: 0;
            left: -500px;
            background-color: #e7d9bc;
            width: 60vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:space-evenly;
            padding-top: 100px;
        }

        .navegador ul li a{
            color: #020202;
        }
        
        .contactos{
            width: 350px;
            grid-template-columns: 1fr;
            column-gap: 10px;
            align-items: center;
        }
        .dato-nombre{
            width: 300px;
            grid-template-columns: 1fr;
        }
        .dato-apellido{
            width: 300px;
            grid-template-columns: 1fr;
        }
        .dato-telefono{
            width: 300px;
            grid-template-columns: 1fr;
        }
        .dato-mail{
            width: 300px;
            grid-template-columns: 1fr;
        }
        .dato-mensaje{
            width: 300px;
            height: 50px;
            grid-template-columns: 1fr;
        }
        .contactos .buttonbox{
            bottom: auto;
        }

    .final{
        background-color: #f8eace; 
        width: 100%;
            margin: 20px;
            padding: 10;
            align-items: center;
        color: #0a0a0a;
        font-size: 20px;
        }
 }
