.piedepagina{
    background-color:$bg-color2;
    color:$color1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    column-gap: 15px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    @media(max-width:1200px){
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    .titulo-principal{
        @extend %flex-column-gap;
    }
    .datos{
        @include flex-column-gap(100%,20px,10px);
        .mapa{
            border-radius: 8%;
               width: 100%;
               height: 300px;
            }
    }
    }




    .piedepagina .redes i{
        font-size: 38px;
        margin: 10px;
        @media(max-width:1200px){
            grid-column: 1/3;
        }
        @media (max-width: 768px) {
            grid-column: auto;
        }
    }


    